<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/style.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body class="landing">
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner_content text-center">
                            <div class="card" style="max-width: 900px;">
                                <h2>Please enter your info</h2>
                                {% block content %}
                                <form action="results" method=post>
                                    {{ form.hidden_tag() }}
                                    <div class="age">
                                        {{ form.age.label }} {{ form.age() }}
                                        {% if form.age.errors %}
                                        <ul class="errors">
                                            {% for error in form.age.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="gender">
                                        {{ form.gender.label }} {{ form.gender() }}
                                        {% if form.gender.errors %}
                                        <ul class="errors">
                                            {% for error in form.gender.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="beverage">
                                        {{ form.beverage.label }} {{ form.beverage() }}
                                        {% if form.gender.errors %}
                                        <ul class="errors">
                                            {% for error in form.beverage.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="smoke">
                                        {{ form.smoke.label }} {{ form.smoke() }}
                                        {% if form.smoke.errors %}
                                        <ul class="errors">
                                            {% for error in form.smoke.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <input type="submit" value="Submit">
                                </form>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
</body>
</html>